// Colors
$purple: #c489eb;
$orange: #faa03a;

// Mixins
$guss-rem-baseline: 16px !default;
$default_width: 320;
$new_width: 360;

:deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: $orange;
}
